*{
    box-sizing: border-box;
}
body{
    font-family: "Open Sans",serif;

}
form {
    background-color:#FAFAFA;
    padding:10px;
    width:800px;
}
fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #666;
}
legend {
    color:#666;
    font-weight:bold
}
label {
    margin-top: 10px;
    display: block;
}
label.inline {
    display:inline;
    margin-right:50px;
}
input, textarea{
    background-color:#FFF3F3;
}
input, textarea {
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:500px;
    margin-bottom: 30px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}


input[type=text] {
    border:1px solid #F5C5C5;
    width:500px;
}
input[type=submit]{
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px #D83F3D;
    cursor:pointer;
}